@media (max-width: 991px) {
	.nav_bot{display: none;}
	.navbar{background: #fff;margin-bottom: 0px;}
	.logo{padding-top: 5px;}
	.logo img{height: 40px;}
	.lang span {display: none;}
	.ejm_pro_top{margin-top:0px; }
	.ejmpl, .ejmpr, .search{margin: 10px auto 0 auto !important;}
	.main_bot a{margin: 0px 10px;display: inline-block;}
	.main_bot{padding: 10px 0px; text-align: center;}
	.ejm_pro_nav{text-align: center;line-height: 30px;padding: 10px 15px;}
	.footer{display: none;}
	.xuanfu{display: none;}
}

@media (min-width: 992px){
	.navbar{height: 93px;background: #ffffff;padding: 0px;margin: 0px;}
	.logo{top: 15px;left: 0px;position: absolute;padding: 0px;}
	.nav{position: absolute;top:92px;left: 0px;}
	.nav li{height: 40px;line-height: 40px;}
	.navbar-default .nav li a{height: 40px;line-height: 40px;padding: 0px;margin: 0px;font-size: 18px;color: #fff;}
	.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:hover{background: none;color: #fc9f00!important;}
	.lang{position: absolute!important;top:-85px;right:0px;width:100px;}
	.navbar-default .nav li.lang a{display: inline-block!important;color: #000!important;font-size: 12px;}
	.lang span{display: inline-block;}
	.hotline{position: absolute!important;top: -55px;right: 0px;}
	.ejmpl{float: left;}
	#container{width: 1200px;}
}
