@media (min-width:992px){
	.navbar{
		height: 93px;
		background: #ffffff;
		padding: 0;
		margin: 0;
	}
	.logo{
		top: 15px;
		left: 0px;
		position: absolute;
		padding: 0px;
	}
	.nav{
		position: absolute;
		top: 92px;
		left: 0px;
	}
	.nav li{
		height: 40px;
		line-height: 40px;
	}
	.navbar-default .nav li a{
		height: 40px;
		line-height: 40px;
		padding: 0px;
		margin: 0px;
		font-size: 18px;
		color: #fff;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover{
		background: none;
		color: #fc9f00!important;
	}
	.navbar-default .nav li a:hover{color:#fc9f00;}
	.lang{
		position: absolute!important;
		top:-85px;
		right:0px;
		width:100px;}
	.navbar-default .nav li.lang a{
		display: inline-block!important;
		color: #000!important;
		font-size: 12px;
	}
	.lang span{
		display: inline-block;
	}
	.hotline{
		position: absolute!important;
		top: -55px;
		right: 0px;
	}
	.ejmpl{
		float: left;
	}
	.ej_nav2,.ej_bread1{
		height: 0;
	}
	#container{width: 1200px;}
}

@media (max-width: 991px){
	.xuanfu{
		display: none;
	}
	.navbar{
		background:#fff;
		margin-bottom: 0px;
		 }
	.nav_bot{
		display: none;
	}
	.logo{
		padding-top:5px;
		 }
	.logo img{
		height: 40px;
	}
	.main_bot{
		padding: 10px 0px; 
		text-align: center;
	}
	.main_bot a{
		margin: 0px 10px; 
		display: inline-block;
	}
	.fbr{
		text-align: center;
		display: none;
	}
	.footer{
		display: none;
	}
	.mbt{
		margin-top: 20px;
	}
	.m_ul{
		padding: 0px 20px;
	}
	.m_ul li{
		margin-top: 10px;
		border-bottom: 1px dotted #000;
	}
	.newssj1{
		display: none;
	}
	.m_ul .newsnr{
		margin-left: 0;
		padding-right: 0px;
	}
	.m_ul1 li span.abs span {
		display: none;
	}
	.m_ul1 li span.abs{
		font-size: 14px;
		padding: 5px 0px;
	}
}

@media (min-width: 767px){

	.dnxs{display: inline-block;}
	.sjxs{display:none;}
}

@media (max-width: 767px){
	.ej_bread .tr{display: none;}
	.ej_bread1{
		position: static;
		text-align: center;
		margin-top: -10px;
		margin-bottom: 20px;
	}
}