.fw{
	font-family: 'Microsoft Yahei';
}
.fix{
	*zoom: 1;
}
.abs{position: absolute;}
.tc{text-align: center;}
.fl{float: left!important;}
.fr{float: right!important;}
.db{display: block;}
.rel{position: relative;}
.pb{padding-bottom: 30px;}